<div class="card">
    <div class="card-header">
        <h1>Editing a new article</h1>
    </div>
    <%=render 'form'%>
</div>
<br>
    <%=link_to 'Back',articles_path(@article),class:"btn btn-secondary"%>

